.sidebar_login {
    -fx-background-image: url("ii.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.logo {
    -fx-background-image: url("logo.png");
    -fx-background-repeat: no-repeat;
}

.forgetPSW {
    -fx-background-color: transparent;
}

.forgetPSW:hover {
    -fx-background-color: transparent;
    -fx-text-fill: darkgrey;
    -fx-underline: true;
}

.sendButton {
    -fx-background-color: darkcyan;
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.sendButton:hover {
    -fx-background-color: #008b70;
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.productButtons{
    -fx-background-color: darkcyan;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.productButtons:hover {
    -fx-background-color: #008b70;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.reverseButtons{
    -fx-background-color: white;
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-text-fill: darkcyan;
}

.reverseButtons:hover {
    -fx-background-color: antiquewhite ;
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-text-fill: darkcyan;
}